<div class="toolbar">
   <table class="tool-table">
      <tr class="tr-one">
         <th class="th-one">test1</th>
         <th class="th-tree">
            <mat-icon class="folder"></mat-icon><p class="text">univercity</p>
         </th>
      </tr>
      <tr>
         <th>test2</th>
         <th>test2 test2</th>
         <th>test2 test2</th>
      </tr>
   </table>
</div>
<div class="content">
   <div class="left">
      <div class="list">
         <p>Favorites</p>
         <mat-list role="list">
            <mat-list-item role="listitem">Mr.John Smith</mat-list-item>
            <mat-list-item role="listitem">AirDrop</mat-list-item>
            <mat-list-item role="listitem">Projects</mat-list-item>
            <mat-list-item role="listitem">Recents</mat-list-item>
            <mat-list-item role="listitem">Aplications</mat-list-item>
            <mat-list-item role="listitem">Desctop</mat-list-item>
            <mat-list-item role="listitem">Documents</mat-list-item>
            <mat-list-item role="listitem">Downloads</mat-list-item>
            <mat-list-item role="listitem">Creative Cloud Files</mat-list-item>
         </mat-list>
         <p>iCloud</p>
         <mat-list role="list">
            <mat-list-item role="listitem">iCloud Drive</mat-list-item>
         </mat-list>
         <p>Tags</p>
         <mat-list role="list">
            <mat-list-item role="listitem">Red</mat-list-item>
            <mat-list-item role="listitem">Orange</mat-list-item>
            <mat-list-item role="listitem">Yellow</mat-list-item>
            <mat-list-item role="listitem">Green</mat-list-item>
            <mat-list-item role="listitem">Blue</mat-list-item>
            <mat-list-item role="listitem">Purple</mat-list-item>
            <mat-list-item role="listitem">Gray</mat-list-item>
            <mat-list-item role="listitem">All tags...</mat-list-item>
         </mat-list>
      </div>
   </div>
   <div class="right">
      <div class="list">
         <p>Favorites</p>
         <mat-list role="list">
            <mat-list-item role="listitem">Mr.John Smith</mat-list-item>
            <mat-list-item role="listitem">AirDrop</mat-list-item>
            <mat-list-item role="listitem">Projects</mat-list-item>
            <mat-list-item role="listitem">Recents</mat-list-item>
            <mat-list-item role="listitem">Aplications</mat-list-item>
            <mat-list-item role="listitem">Desctop</mat-list-item>
            <mat-list-item role="listitem">Documents</mat-list-item>
            <mat-list-item role="listitem">Downloads</mat-list-item>
            <mat-list-item role="listitem">Creative Cloud Files</mat-list-item>
         </mat-list>
         <p>iCloud</p>
         <mat-list role="list">
            <mat-list-item role="listitem">iCloud Drive</mat-list-item>
         </mat-list>
      </div>
   </div>
</div>
