<div class="toolbar">
   <div class="pd-l5 header-content">
      <mat-icon class="tool-ic tool-re" (click)="goHome()"></mat-icon>
      <mat-icon class="tool-ic tool-ye"></mat-icon>
      <mat-icon class="tool-ic tool-gr"></mat-icon>
   </div>
   <div *ngIf="currentPath && !searchText" class="tool-content">
      <mat-icon class="folder"></mat-icon><p class="pd-l5 text">{{currentPath}}</p>
   </div>
   <div *ngIf="!currentPath || searchText" class="tool-content">
      <mat-icon class="finder"></mat-icon><p class="pd-l5 text">Finder</p>
   </div>
   <div>
      <div class="arrows pd-l5 pd-t5">
         <div class="arrow float-left">
            <mat-icon class="arrow-left" [ngClass]="currentPath ? 'arrow-left-active' : 'arrow-left-off'" (click)="goBack()"></mat-icon>
            <mat-icon class="arrow-right" [ngClass]="historyPath.length ? 'arrow-right-active' : 'arrow-right-off'" (click)="goPrew()"></mat-icon>
         </div>
         <div class="tool float-left">
            <mat-icon class="tool-btn"></mat-icon>
         </div>
         <div class="search">
            <div class="input">
               <mat-icon class="search-loop" matSufux></mat-icon>
               <input
                  type="text"
                  class="input-field pd-l25"
                  placeholder="Search"
                  [(ngModel)]="searchText">
               <mat-icon *ngIf="searchText" class="cancel pd-r20" (click)="clearSearch()"></mat-icon>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="content">
   <div class="left">
      <div class="list">
         <div class="fav-content">
            <p>
               <span class="float-left">Favorites</span>
               <span *ngIf="showFav" class="float-right pd-r10 hide" (click)="showFav=!showFav">Hide</span>
               <span *ngIf="!showFav" class="float-right pd-r10 hide" (click)="showFav=!showFav">Show</span>
            </p>
            <br>
         </div>
         <mat-list role="list" [class.display-none]="!showFav">
            <mat-list-item role="listitem"><mat-icon class="listicon listicon-1"></mat-icon>Mr.John Smith</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="listicon listicon-2"></mat-icon>AirDrop</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="listicon listicon-3"></mat-icon>Projects</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="listicon listicon-4"></mat-icon>Recents</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="listicon listicon-5"></mat-icon>Aplications</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="listicon listicon-6"></mat-icon>Desctop</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="listicon listicon-7"></mat-icon>Documents</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="listicon listicon-8"></mat-icon>Downloads</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="listicon listicon-9"></mat-icon>Creative Cloud Files</mat-list-item>
         </mat-list>
         <div class="cloud-content">
            <p class="pd-t10">
               <span class="float-left">iCloud</span>
               <span *ngIf="showCloud" class="float-right pd-r10 hide" (click)="showCloud=!showCloud">Hide</span>
               <span *ngIf="!showCloud" class="float-right pd-r10 hide" (click)="showCloud=!showCloud">Show</span>
            </p>
            <br>
         </div>
         <mat-list role="list" [class.display-none]="!showCloud">
            <mat-list-item role="listitem"><mat-icon class="icloudicon listicon-10"></mat-icon>iCloud Drive</mat-list-item>
         </mat-list>
         <div class="tag-content">
            <p class="pd-t10">
               <span class="float-left">Tags</span>
               <span *ngIf="showTags" class="float-right pd-r10 hide" (click)="showTags=!showTags">Hide</span>
               <span *ngIf="!showTags" class="float-right pd-r10 hide" (click)="showTags=!showTags">Show</span>
            </p>
            <br>
         </div>
         <mat-list role="list" [class.display-none]="!showTags">
            <mat-list-item role="listitem"><mat-icon class="tags tags-re"></mat-icon>Red</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="tags tags-or"></mat-icon>Orange</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="tags tags-ye"></mat-icon>Yellow</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="tags tags-gn"></mat-icon>Green</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="tags tags-bl"></mat-icon>Blue</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="tags tags-pu"></mat-icon>Purple</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="tags tags-gy"></mat-icon>Gray</mat-list-item>
            <mat-list-item role="listitem"><mat-icon class="tags tags-all"></mat-icon>All tags...</mat-list-item>
         </mat-list>
      </div>
   </div>
   <div class="right">
      <app-mac-files [path]="fullPath" [searchText]="searchText" (selectedFolder)="selectedFolder($event)"></app-mac-files>
   </div>
</div>
