.toolbar {
    background-image: linear-gradient(#e5e5e5, #c9c9c9);
    height: 72px;
    border-radius: 5px 5px 0 0;
    border: 1px solid #bebebe;
    .header-content {
        position: absolute;
        padding-left: 5px;
        .tool-ic {
            width: 72px;
            height: 72px;
            zoom: 0.3;
        }
    }
    .tool-content {
        display: flex;
        justify-content: center;
        width: 100%;
        padding-top: 5px;
        height: 20px;
        .folder {
            height: 92px;
            width: 120px;
            zoom: 0.2;
        }
        .finder {
            height: 92px;
            width: 99px;
            zoom: 0.2;
        }
        .text {
            float: right;
            font-size: 0.8rem;
            color: #706f70;
            margin: 0;
        }
    }
    .arrows {
        .arrow {
            width: 15%;
            &-left, &-right {
                width: 120px;
                height: 120px;
                zoom: 0.25;
            }
        }
        .tool {
            width: 65%;
            display: flex;
            justify-content: center;
            &-btn {
                width: 1400px;
                height: 120px;
                zoom: 0.25;
            }
        }
        .search {
            width: 18%;
            height: 26px;
            background: #f6f6f6;
            border-radius: 5px;
            border-top: 1px solid #c7c7c7;
            border-left: 1px solid #c7c7c7;
            border-right: 1px solid #c7c7c7;
            border-bottom: 1px solid #b5b5b5;
            .input {
                display: flex;
                height: 26px;
                &-field {
                    outline: none;
                    border: none;
                    width: 100%;
                    background: transparent;
                }
                .search-loop {
                    position: absolute;
                    width: 48px;
                    height: 48px;
                    zoom: 0.55;
                }
                .cancel {
                    width: 72px;
                    height: 72px;
                    zoom: 0.36;
                    float: right;
                }
            }
        }
    }
}
.content {
    background-color: #ffffff;
    height: 88%;
    border-radius: 0 0 5px 5px;
    border: 1px solid #bebebe;
    .left {
        float: left;
        width: 35%;
        height: 100%;
        background: #e0e5e8;
        border-left: 1px solid #ededed;
        border-right: 1px solid #bebebe;
        border-radius: 0 0 0 5px;
        .list {
            padding: 5% 0 0 5%;
            contain: content;
            height: 95%;
            overflow: scroll;
            p {
                margin: 0;
            }
            ul {
                list-style-type: none;
                li {
                    float: left;
                }
            }
            .mat-list {
                padding: 0;
                .mat-list-item {
                    height: 35px;
                }  
            }
            .listicon {
                height: 87px;
                width: 96px;
                zoom: 0.25;
                padding-bottom: 20px;
                padding-right: 20px;
            }
            .icloudicon {
                height: 40px;
                width: 40px;
                zoom: 0.6;
                padding-bottom: 5px;
                padding-right: 10px;
            }
            .tags {
                zoom: 0.67;
                width: 36px;
                height: 36px;
                padding-right: 5px;
            }
            .tag-content {
                .hide {
                    display: none;
                }
            }
            .tag-content:hover {
                .hide {
                    display: initial;
                }
            }
            .cloud-content {
                .hide {
                    display: none;
                }
            }
            .cloud-content:hover {
                .hide {
                    display: initial;
                }
            }
            .fav-content {
                .hide {
                    display: none;
                }
            }
            .fav-content:hover {
                .hide {
                    display: initial;
                }
            }
            .display-none {
                display: none;
            }
        }
    }
    .right {
        background-color: #f5f5f5;
        contain: content;
        overflow: scroll;
        width: 64%;
        height: 100%;
        float: left;
    }
}
