<div class="container" (click)="clickContent($event)">
    <div class="content">
        <table class="text-left">
            <tr class="header">
                <th colspan="2" (click)="sortBy('name')">
                    <div class="name">
                        Name
                        <div *ngIf="sortObj.name.sort" class="inner-name">
                            <mat-icon *ngIf="sortObj.name.index" class="arrow-down"></mat-icon>
                            <mat-icon *ngIf="!sortObj.name.index" class="arrow-up"></mat-icon>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="date pd-l10" (click)="sortBy('date')">
                        Date Modified
                        <div *ngIf="sortObj.date.sort" class="inner-name">
                            <mat-icon *ngIf="sortObj.date.index" class="arrow-down"></mat-icon>
                            <mat-icon *ngIf="!sortObj.date.index" class="arrow-up"></mat-icon>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="type pd-l10" (click)="sortBy('type')">
                        Type
                        <div *ngIf="sortObj.type.sort" class="inner-name">
                            <mat-icon *ngIf="sortObj.type.index" class="arrow-down"></mat-icon>
                            <mat-icon *ngIf="!sortObj.type.index" class="arrow-up"></mat-icon>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="size pd-l10" (click)="sortBy('size')">
                    Size
                    <div *ngIf="sortObj.size.sort" class="inner-name">
                        <mat-icon *ngIf="sortObj.size.index" class="arrow-down"></mat-icon>
                        <mat-icon *ngIf="!sortObj.size.index" class="arrow-up"></mat-icon>
                    </div>
                    </div>
                </th>
            </tr>
            <tr *ngFor="let file of fileItems; let i = index" id="row-{{i}}" class="row" (click)="clickFolder(i)" (dblclick)="selectFolder(file)">
                <td class="icon">
                    <div>
                        <mat-icon *ngIf="file.type !== 'file'" class="win-fldr"></mat-icon>
                        <mat-icon *ngIf="file.type === 'file'" [ngClass]="getFileIcon(file.path)"></mat-icon>
                    </div>
                </td>
                <td class="filename">
                    <div>
                        {{file.path | pathPipe}}
                    </div>
                </td>
                <td class="pd-l10 date">
                    <div>{{ file.modificationDate | date: 'M/d/yyyy h:mm a' }}</div>
                </td>
                <td class="pd-l10 date">
                    <div [innerHTML]="getFileType(file)"></div>
                </td>
                <td *ngIf="file.type === 'file'" class="pd-l10 pd-r10 text-rigth size">
                    <div>{{ file.size | size }}</div>
                </td>
                <td *ngIf="file.type !== 'file'" class="pd-l10 pd-r10 text-rigth size">
                    <div [innerHTML]="getFolderSize(file.path) | size"></div>
                </td>
            </tr>
        </table>
    </div>
</div>
